.home-container-1 {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
}

.bg-img {
  height: 100vh;
  width: 100vw;
}

.text-1 {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.list-2 {
  list-style-type: none;
  text-decoration: none;
}

.text-2 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin: 10px;
  padding: 10px;
  text-decoration: none;  
}
